<!DOCTYPE html>
<html>
  <head>
    <title>CustomActivityTest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag '/require.js' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <div>
    <label for="channelId">LINE Channel ID</label>
  </div>
  <div>
    <input id="channelId" name="channelId" type="text" value=""/>
  </div>
  <div>
    <button id="save-btn">SET Channel Id</button>
  </div>
  </body>
</html>
